[submodule "hostmux"]
	path = hostmux
	url = https://github.com/ColdSphinX/hostmux.git
	branch = stable
[submodule "tmux/.tmux/plugins/tmux-sessionist"]
	path = tmux/.tmux/plugins/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist.git
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/plugins/tmux-copycat"]
	path = tmux/.tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/.tmux/plugins/tmux-open"]
	path = tmux/.tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "vim/.swvim"]
	path = vim/.swvim
	url = git@github.com:ColdSphinX/swvim.git
[submodule "vim/neovim"]
	path = vim/neovim
	url = https://github.com/neovim/neovim
[submodule "tmux/wemux"]
	path = tmux/wemux
	url = https://github.com/zolrath/wemux.git
